<!-- Modal Body -->
<div class="modal fade" id="modalRegister" tabindex="-1" data-bs-keyboard="false" role="dialog" aria-labelledby="modalRegisterId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRegisterId">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalRegisterBody">
        <div class="table-responsive">
          <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">List</th>
              </tr>
            </thead>
            <tbody id="peopleTbl">
            </tbody>
          </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <form class="w-100 text-end" data-action="/api/events/register">
          <input type="hidden" id="event_id" name="event_id">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="deleteEvent" type="button" class="btn btn-danger" data-callback="closeModal" data-id="">Delete</button>
          <button id="registerEvent" type="submit" class="btn btn-primary" data-callback="getEventNames">Register</button>
          <p class="error"></p>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEvent" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalEventId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEventId">Add Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form data-action="/api/events/post" data-callback="getEvents" id="eventPostForm">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-12 mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="event_name" name="event_name" placeholder="Event Name">
                <label for="event_name" class="form-label">Event Name</label>
              </div>
            </div>
            <div class="form-group col-6 ">
              <div class="form-floating">
                <input type="number" class="form-control" id="event_cost" name="event_cost" step="0.01">
                <label for="event_cost" class="form-label">Cost</label>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="form-floating">
                <input type="number" class="form-control" id="event_max" name="event_max" step="1">
                <label for="event_max" class="form-label">Max</label>
              </div>
            </div>
            <div class="form-group col-12 my-3">
              <div class="form-floating">
                <textarea class="form-control" id="event_description" name="event_description" placeholder="Description" style="height: 100px"></textarea>
                <label for="event_description" class="form-label">Description</label>
              </div>
            </div>
            <div class="form-group col-12 mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="event_location" name="event_location" placeholder="Location">
                <label for="event_location" class="form-label">Location</label>
              </div>
            </div>
            <div class="form-group col-12 mb-3 event-type">
            </div>
            <div class="form-group col-6">
              <div class="form-floating">
                <input type="datetime-local" class="form-control" id="event_date_start" name="event_date_start" placeholder="Date">
                <label for="event_date_start" class="form-label">Date Start</label>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="form-floating">
                <input type="datetime-local" class="form-control" id="event_date_end" name="event_date_end" placeholder="Date">
                <label for="event_date_end" class="form-label">Date End</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" data-callback="closeModal"></input>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modalChangePass" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalChangePassId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalChangePassId">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form data-action="/api/user/changepassword" id="changePassForm">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-12 mb-3">
              <div class="form-floating">
                <input type="password" class="form-control" id="password_current" name="password_current" placeholder="Current Password">
                <label for="password_current" class="form-label">Current Password</label>
              </div>
            </div>
            <div class="form-group col-12 mb-3">
              <div class="form-floating">
                <input type="password" class="form-control" id="password_change" name="password_change" placeholder="Password">
                <label for="password_change" class="form-label">Password</label>
              </div>
            </div>
            <div class="form-group col-12 mb-3">
              <div class="form-floating">
                <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Confirm Password">
                <label for="password_confirm" class="form-label">Confirm Password</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" data-bs-dismiss="modal"></input>
        </div>
      </form>
    </div>
  </div>
</div>